@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

// farger
$White: #ffffff;
$Black: #322e2e;
$DarkGray: #585658;
$MediumGray: #423d3d;
$LightWhite: #f5f5f7;
$TextGray: #86868b;
$DeepPink: #c40c5f;
$Pink: #ff69b4;
$DarkBlueHover: #031f2b;
$MediumBlue: #295a6d;
$LightBlueHover: #87ceeb;

// font
$Exo2: "Exo 2", sans-serif;
$Bold: 700;

$SemiBold: 600;

// layout
$page-width: 1380px;

// enkel flex mixin
@mixin flex($dir: row, $gap: 1rem) {
    display: flex;
    flex-direction: $dir;
    gap: $gap;
}

// sentrert innhold med maks-bredde
@mixin content-width() {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: $page-width;
}