@use "global";

.home-page {
    min-height: 100vh;
    padding: 2rem 0;
}

.main-title {
    text-align: center;
    font-size: 3rem;
    color: global.$White;
    margin-bottom: 3rem;
}

.festival-section {
    @include global.content-width();
    margin-bottom: 4rem;
    
    h2 {
        color: global.$White;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.festival-grid {
    @include global.flex-display(row, wrap);
    gap: 1.6rem;
    justify-content: center;
    
    .festival-card {
        background-color: global.$DarkGray;
        color: global.$Pink;
        padding: 2rem;
        border-radius: 1rem;
        text-align: center;
        min-width: 250px;
        
        h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        
        p {
            color: global.$MediumGray;
        }
    }
}

.city-section {
    @include global.content-width();
    
    h2 {
        color: global.$White;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.city-buttons {
    @include global.flex-display(row, wrap);
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin-bottom: 3rem;
    
    .location-btn {
        background-color: global.$MediumBlue;
        color: global.$Pink;
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
        border-radius: 30px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        
        &.active {
            background-color: global.$DarkPink;
            color: global.$White;
        }
        
        &:hover {
            background-color: global.$DarkBlueHover;
            color: global.$White;
            transition: all 0.3s ease;
        }
    }
}

.events-grid {
    @include global.flex-display(row, wrap);
    gap: 1.6rem;
    justify-content: center;
}