@use "global";

main {
  @include global.content-width();
  padding-top: global.$pad-top;
  padding-bottom: global.$pad-bottom;

  h1 {
    text-align: left;
    font-size: 3rem;
    color: global.$White;
    margin-bottom: 1.5rem;
  }
}

.city-section {
  margin-bottom: 2rem;

  h2 {
    color: global.$White;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }
}

.city-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;

  button {
    background-color: global.$MediumBlue;
    color: global.$White;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    font-weight: global.$SemiBold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      background-color: global.$DeepPink;
      color: global.$White;
    }

    &:hover {
      background-color: global.$DarkBlueHover;
      color: global.$Pink;
      border: 1px solid global.$Pink;
    }
  }
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}