@use "global";


.main-link {
  position: absolute;
  left: -100rem;
  background: global.$MediumBlue;
  color: global.$White;
  padding: 1rem;
  font-size: 1.5rem;

  &:focus { left: auto; }
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: global.$DarkBlueHover;

  a {
    color: global.$Pink;
    text-decoration: none;
    &:hover { color: global.$LightBlueHover; }
  }
}

main {
  min-height: 100vh;
}
